[Unit]
Description=CodePulse is a Rust tool for real-time synchronization of local repositories with GitHub, ensuring your projects stay updated with the latest changes efficiently.
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/CodePulse/
ExecStart=/usr/bin/cargo run --release
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target